.ocorpo {
  padding-top: 33px;
}

.ocorpo .formularios {
  margin-top: 23px;
  margin-bottom: 18px;
}

.ocorpo .formularios .filtro_select, .ocorpo .formularios .busca {
  width: 367px;
  position: relative;
}

.ocorpo .formularios input {
  position: relative;
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 13px;
  padding-left: 26px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #666666;
  line-height: 49px;
  background: #fff;
  border: 1px solid #999999;
  border-radius: 0;
  cursor: pointer;
}

.ocorpo .formularios .lupinha {
  background-position: -126px -87px;
  width: 24px;
  height: 24px;
  float: left;
}

.ocorpo .formularios .lupinha_button {
  position: absolute;
  right: 15px;
  top: 11px;
  border: 0;
  background: none;
  height: 29px;
  width: 26px;
  padding: 0;
}

.ocorpo .cada_medico {
  margin-bottom: 27px;
}

.ocorpo .dentro_medico {
  padding-left: 65px;
  padding-top: 50px;
  padding-bottom: 53px;
  padding-right: 54px;
  box-shadow: 0px 2px 3px 0px rgba(40, 40, 40, 0.16);
}

.ocorpo .dentro_medico .imagem_medico {
  margin-right: 32px;
}

.ocorpo .dentro_medico h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  letter-spacing: 0.02em;
  padding-top: 15px;
  color: #062639;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 0;
  letter-spacing: 0;
}

.ocorpo .dentro_medico .crm {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #666666;
  font-size: 14px;
  margin-bottom: 15px;
}

.ocorpo .dentro_medico h5 {
  color: #666666;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}

.ocorpo .dentro_medico h5 span {
  color: #e87824;
  font-weight: 800;
}

.ocorpo .dentro_medico .saiba_mais {
  margin-top: 15px;
  font-family: 'Raleway', sans-serif;
  height: 38px;
  background: #e87824;
  font-size: 13px;
  width: 147px;
}

.ocorpo .dentro_medico .saiba_mais:hover {
  background: #062639;
  color: #FFF;
  text-decoration: none;
}

.ocorpo .dentro_medico .setinha {
  margin-left: 12px;
}

.ocorpo .hover_medico {
  display: none;
  position: fixed;
  margin: 0 auto;
  width: 893px;
  background: #FFF;
  z-index: 10;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 40px;
  padding-bottom: 20px;
  box-shadow: 0px 2px 3px 0px rgba(40, 40, 40, 0.16);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
}

.ocorpo .hover_medico h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  letter-spacing: 0.02em;
  padding-top: 0px;
  color: #062639;
  font-size: 30px;
  line-height: 22px;
  margin-bottom: 17px;
  letter-spacing: 0;
}

.ocorpo .hover_medico h5 {
  color: #666666;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.ocorpo .hover_medico h5 span {
  color: #e87824;
  font-weight: 700;
}

.ocorpo .hover_medico p {
  font-size: 16px;
  line-height: 30px;
  color: #666666;
}

.ocorpo .hover_medico .fechar {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  letter-spacing: 0.02em;
  color: #e87824;
  font-size: 21px;
  position: absolute;
  top: 25px;
  right: 60px;
  cursor: pointer;
}

.ocorpo .radio_button {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 49px;
  background: #062639;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  letter-spacing: 0.02em;
  font-size: 16px;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 24px;
  text-transform: uppercase;
  line-height: 19px;
  border-radius: 8px;
}

.ocorpo .radio_button:hover {
  background: #e87824;
}
