// Importacao de fonts 
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,600,600i,700i,800&display=swap');

@mixin bolder {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    letter-spacing: 0.02em;
}
@mixin ral {
    font-family: 'Raleway', sans-serif;
}
$laranja: #e87824;
$azul: #062639;
p {
    @include ral;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color:#666666;
}
@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.sprite {
    background: url(../images/assets/sprite.png) no-repeat;
}
h2 {
    @include bolder;
    font-size: 48px;
    color:$azul;
    margin-bottom: 17px;
}

img {
    border-radius: 2px;
}

a, button, i {
    transition: .4s;
}
a:hover {
    text-decoration: none;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1183px;
        padding: 0 !important;
    }
}

.botao {
    border: none;
    background: $azul;
    color:#FFF;
    @include bolder;
    font-size: 13px;
    text-transform: uppercase;
    height: 39px;
    padding: 0 22px;
    border-radius: 3px;
    &:hover {
        background: $laranja;
    }
}
.saiba_mais {
    height: 59px;
    background: $azul;
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
    @include bolder;
    width: 173px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    &:hover {
        background: #2bbfd9;
    }
}
.saiba_mais:hover .setinha {
    transform: translateX(13px);
}
.setinha {
	background-position:-130px -8px;
    width: 17px;
    margin-left: 18px;
    height: 12px;
    transition: 0.3s;
}

header {
    .topo_menor {
        padding-top: 7px;
        padding-bottom: 8px;
        border-bottom: 1px solid #e6e6e6;
    }
    .topo_maior {
        min-height: 75px;
        display: flex;
        align-items: center;
    }
    .logo {
        width: 283px;
    }
    .botao {
        margin-right: 16px;
    }
    .blog_button {
        background: #295d7c;
    }
    .duvidas {
        background: $laranja;
        margin-right: 17px;
        &:hover {
            background: $azul;
        }
    }
    .pesquisar {
        background-position: -7px -8px;
        width: 44px;
        height: 39px;
        transition: .2s;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        &:hover {
            background-position: -7px -52px;
        }
    }
    h4 {
        font-size: 16px;
        @include ral;
        letter-spacing: 0.02em;
        font-weight: 400;
        color: $azul;
        margin-right: 15px;
        margin-bottom: 0;
    }
}

nav {
    padding: 0 !important;
    a {
        @include bolder;
        color:$azul;
        font-size: 13px;
        text-transform: uppercase;
        &:hover {
            color: $laranja;
        }
    }
    .active {
        a {
            color: $laranja;
        }
    }
}
nav li:last-of-type a {
    padding-right: 0 !important;
}
.carousel {
    position: relative;
    .carousel-item {
        height: 651px;
    }
    .right_slide {
        width: 40.5%;
        right:0;
        position:absolute;
        height: 100%;
    }
    .left_slide {
        width: 59.5%;
        left:0;
        position:absolute;
        height: 100%;
        background-color: #e87824;
        background-blend-mode: multiply;
    }
    h3 {
        @include ral;
        font-style: italic;
        font-weight: 700;
        color: #FFF;
        font-size: 81px;
        line-height: 91px;
        margin-bottom: 19px;
        padding-top: 175px;
    }
    p {
        font-weight: 500;
        color: #FFF;
        line-height: 34px;
        font-size: 20px;
    }
    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0;
        margin-right: 15%;
        margin-left: -27%;
        bottom: 53px;
        list-style: none;
    }
    .carousel-indicators li {
        box-sizing: content-box;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin-right: 10px;
        margin-left: 10px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        -webkit-background-clip:padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: 1;
        transition: opacity .6s ease;
    }
    .carousel-indicators .active{
        background-color: #fff;
    }
    .carousel-indicators .active:after {
        content: '';
        width: 18px;
        height: 18px;
        background: #f050;
        display: block;
        border-radius: 50%;
        border: 2px solid #fff;
        top: 50%;
        left: 50%;
        position: relative;
        transform: translate(-50%, -50%);
    }
    .carousel-control-prev {
        background: url(../images/assets/sprite.png) no-repeat -93px -8px;
        width: 27px;
        height: 74px;
        top:50%;
    }
    .carousel-control-next {
        background: url(../images/assets/sprite.png) no-repeat -59px -8px;
        width: 27px;
        height: 74px;
        top:50%;
    }
    .carousel-control-next-icon {
        background: none;
    }
    .carousel-control-prev-icon {
        background: none;
    }
    .padding_slide {
        padding-left: 16px;
        padding-right: 0;
    }
    .saiba_mais {
        margin-top:35px;
    }
}
.slick-next:focus, .slick-next:hover {
    color: transparent;
    outline: 0;
    background: url(../images/assets/sprite.png) no-repeat -59px -8px !important;
}
.slick-prev:focus, .slick-prev:hover {
    background: url(../images/assets/sprite.png) no-repeat -93px -8px !important;
}
.effect {
    position: absolute;
    z-index: -1;
    width: 510px;
    height: 553px;
    background: url(../images/home/effect.jpg) no-repeat;
    top:40px;
    left: -47px;
}

.effectv2 {
    position: absolute;
    z-index: -1;
    width: 469px;
    height: 473px;
    background: url(../images/home/effect.jpg) no-repeat;
    top: 22px;
    left: 35px;
}

.acompanhamento {
    padding-top: 35px;
    padding-bottom: 76px;
    position: relative;

    p {
        font-size: 18px;
        letter-spacing: 0;
        line-height: 30px;
        color:#666666;
        margin-bottom: 35px;
    }
    .container {
        padding-left: 60px !important;
    }
    .texto_acompanhamento {
        padding-left: 56px;
    }
    h2 {
        padding-top: 66px;
    }
    .saiba_mais {
        height: 38px;
        background: $laranja;
        font-size: 13px;
        width: 147px;
    }
    .setinha {
        margin-left: 12px;
    }
}

.icones_descricao {
    background: #fbfbfb;
    padding-top: 57px;
    padding-bottom: 57px;
    .icone {
        min-width: 71px;
        min-height: 71px;
        margin-right: 18px;
    }
    h3 {
        @include bolder;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 19px;
        margin-top:19px;
    }
    p {
        font-size:15px;
        color:#666666;
        line-height: 26px;
    }
    .saiba_mais {
        font-weight: 500;
        font-size: 9px;
        background: $laranja;
        width: 104px;
        height: 27px;
        padding-left: 13px;
    }
    .setinha {
        margin-left: 10px;
        background-position:  -134px -26px;
        width: 10px;
        height: 7px;
    }
    .sprite {
        float: left;
    }

    .clinico {
        background-position: -160px -8px;
        width: 67px;
        height: 67px;
    }
    .tecnologia {
        background-position: -232px -8px;
        width: 67px;
        height: 67px;
    }
    .tecnicas {
        background-position: -159px -79px;
        width: 67px;
        height: 67px;
    }
    .radioterapia {
        background-position: -232px -79px;
        width: 67px;
        height: 67px;
    }
}

.tecnicas {
    .titulo_tecnicas {
        background-image: url(../images/home/bg-tecnicas.jpg);
        height: 353px;
        background-color: #184058;
        background-blend-mode: multiply;
        h2 {
            color: #FFF;
            font-size: 48px;
            text-align: center;
            margin-bottom: 6px;
            padding-top: 60px;
        }
        p {
            font-size: 14px;
            color: #FFF;
            line-height: 24px;
            text-align: center;
            padding: 0 145px;
            position: relative;
            &::after {
                content: '';
                width: 50px;
                height: 2px;
                background: $laranja;
                position: absolute;
                left: 50%;
                bottom: -27px;
                transform:translateX(-50%);
            }
        }
    }
    .listagem_tecnicas {
        margin-top: -125px;
        .cada_tecnica {
            background:#f89850;
            min-height: 319px;
            padding: 0 50px;
            transition: 0.4s;
            position: relative;
            &:hover {
                transform: scale(1.07); 
                z-index: 10;
            }
            &:nth-of-type(2) {
                background: #f8822a;
            }
            &:nth-of-type(3) {
                background: #e87824;
            }
            &:nth-of-type(4) {
                background: #3fd2ec;
            }
            &:nth-of-type(5) {
                background: #35c9e3;
            }
            &:nth-of-type(6) {
                background: #1fafc8;
            }
            &:nth-of-type(7) {
                background: #295d7c;
            }
            &:nth-of-type(8) {
                background: #184058;
            }
        }
        .efeito_tecnica {
            position: relative;
            height: 50px;
            margin-top: 68px;
            .number {
                position: absolute;
                z-index: 1;
                font-size: 65px;
                line-height: 29px;
                font-family: 'poppinsbold';
                color:#efefef;
                opacity: .2;
                top:0;
            }
            .tecnica {
                position: absolute;
                font-size: 13px;
                @include ral;
                font-weight: 500;
                color: #f9f9f9;
                top: 12px;
            }
        }
        h3 {
            @include bolder;
            color: #FFF;
            font-size: 26px;
            margin-bottom: 27px;
            margin-top: -6px;
        }
        p {
            color: #FFF;
            font-size: 16px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                bottom: -35px;
                background: #FFF;
                width: 33px;
                height: 2px;
                left: 0;
            }
        }
    }
}

.ogrupo {
    background: #f8f8f8;
    padding-top: 39px;
    padding-bottom: 35px;
    .logos {
        margin: 0 auto;
        justify-content: center;
        img {
            margin-right:108px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    p {
        padding: 0 145px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        padding-bottom: 25px;
        margin-bottom: 24px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            bottom: 0px;
            background: $laranja;
            width: 50px;
            height: 2px;
            left: 50%;
            transform:translateX(-50%);
        }
    }
    h2 {
        text-align: center;
        margin-bottom: 8px;
    }
}

.depoimentos {
    background: $laranja;
    padding-top: 60px;
    padding-bottom: 66px;
    h2 {
        color: #FFF;
        text-align: center;
        margin-bottom: 8px;
    }
    .subtitulo {
        padding: 0 145px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        padding-bottom: 25px;
        margin-bottom: 24px;
        color:#FFF;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            bottom: 0px;
            background: #000;
            width: 50px;
            height: 2px;
            left: 50%;
            transform:translateX(-50%);
        }
    }
    .cada_depoimento {
        padding: 0 15px;
    }
    .dentro_depo {
        background: #FFF;
        border-radius: 3px;
        padding: 39px 43px;
        padding-bottom: 50px;
        height: 100%;
    }
    .ball_image {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        overflow: hidden;
        background: #a5a5a5;
        margin-right: 14px;
    }
    .titulo_depo {
        margin-bottom: 28px;
    }
    .nome {
        @include ral;
        font-size: 16px;
        color: $azul;
        font-weight: 600;
        span {
            display: block;
            color: #616161;
            font-weight: 300;
            font-size:13px;
            margin-top: -5px;
        }
    }
    .quote {
        background-position: -124px -40px;
        width: 30px;
        height: 20px;
        float: left;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }
    .odepoimento {
        p {
            margin-bottom: 11px;
            font-weight: 600;
            font-style: italic;
            font-size: 14px;
            color: #666666;
            line-height: 26px;
        }
    }
}

.blog {
    padding-top: 64px;
    padding-bottom: 76px;
    h2 {
        color: $azul;
        text-align: center;
        margin-bottom: 8px;
    }
    .subtitulo {
        padding: 0 145px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        padding-bottom: 25px;
        margin-bottom: 24px;
        color:#666666;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            bottom: 0px;
            background: $laranja;
            width: 50px;
            height: 2px;
            left: 50%;
            transform:translateX(-50%);
        }
    }
    .imagem_blog {
        width: 292px;
        height: 232px;
        border-radius: 3px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    h3 {
        @include bolder;
        color: $azul;
        font-size: 28px;
        margin-bottom: 21px;
        margin-top: 39px;
        text-align: center;
    }
    p {
        color: #666666;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 20px;
    }
    .data {
        font-size: 13px;
        color: $laranja;
        letter-spacing: 0.02em;
        font-weight: 500;
        text-align: center;
    }
    .dentro_blog {
        position: relative;
        padding: 40px;
        padding-bottom: 35px;
        box-shadow: 0px 2px 3px 0px rgba(40, 40, 40, 0.16);
        transition: 0.4s;
        height: 100%;
        &:hover {
            transform: scale(1.05);
            box-shadow: 0px 1px 73px 0px rgba(40, 40, 40, 0.15);
        }
    }
    .leia_mais {
        opacity: 0;
        transition: 0.4s;
        @include bolder;
        color:#2bbfd9;
        font-size: 16px;
        text-align: center;
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        &:after {
            content:'';
            width: 2px;
            height: 30px;
            position: absolute;
            bottom: 40px;
            background: #2bbfd9;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .cada_blog:hover .leia_mais {
        opacity: 1;
    }
}

.novidades {
    min-height: 101px;
    background: #295d7c;
    align-items: center;
    display: flex;
    .container {
        align-items: center;
    display: flex;
    }
    h2 {
        @include ral;
        font-weight: 300;
        font-size: 38px;
        letter-spacing: 0.02em;
        color:#FFF;
        padding-left: 15px;
        margin-bottom: 0;
        margin-right: 54px;
    }
    input {
        border: 1px solid #FFF;
        width: 270px;
        height: 38px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        border-radius: 0;
        background: transparent;
        font-size: 13px;
        font-weight: 500;
        @include ral;
        margin-right: 25px;
        color: #FFF;
        &::placeholder {
            color: #FFF;
        }
    }
    button {
        background: #1f506d;
        text-transform: uppercase;
        border-radius: 3px;
        @include bolder;
        color: #FFF;
        font-size: 13px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        &:hover {
            background:$laranja;
        }
    }
}

footer {
    .top_footer {
        background: #062639;
        padding-top: 34px;
        padding-bottom: 34px;
        color: #FFF;
        @include ral;
        font-size: 13px;
        font-weight: 500;
        line-height: 33px;
        a {
            color: #FFF;
            @include ral;
            font-size: 13px;
            font-weight: 500;
            line-height: 30px;
            &:hover {
                color: $laranja;
            }
        }
        .menu_roda {
            a {
                @include bolder;
                font-size: 13px;
                text-transform: uppercase;
            }
        }
        .mapa {
            margin-left: 6px;
            margin-top: 2px;
        }
        .responsavel {
            margin-left: 55px;
        }
        .menu_roda {
            margin-bottom: 10px;
            margin-top: -9px;
        }
    }
    .bottom_footer {
        background: #e87824;
        color:#FFF;
        @include ral;
        font-size: 13px;
        font-weight: 500;
        height: 52px;
        display: flex;
        align-items: center;
        .container {
            justify-content: center;
        }
        .red {
            background-position: -59px -89px;
            width: 33px;
            height: 18px;
            margin-top: -3px;
            margin-left: 15px;
        }
    }
}
.icon_social {
    a {
        margin: 0 12px;
        margin-top:8px;
    }
    .insta {
    background-position: -10px -113px;
    width: 15px;
    height: 15px;
    &:hover {
        background-position: -10px -130px;
    }
    }
    .fb {
    background-position: -29px -113px;
    width: 8px;
    height: 15px;
    &:hover {
        background-position: -29px -130px;
    }
    }
    .tw {
    background-position: -43px -113px;
    width: 15px;
    height: 13px;
    &:hover {
        background-position: -43px -130px;
    }
    }
    .pin {
    background-position: -63px -113px;
    width: 12px;
    height: 15px;
    &:hover {
        background-position: -63px -130px;
    }
    }
}
/* BreadCrumb */
.breadcrumbv2 {
    position: relative;
    height: 42px;
    background: #062639;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    .container {
        align-items: center;
    }
    .fundo_laranja {
        width: 25.5%;
        height: 100%;
        background: #e87824;
        position: absolute;
        top: 0;
        right: 0;
    }
    a {
        color: #FFF;
        @include ral;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.02em;
    }
    .links {
        position: relative;
        z-index: 2;
        color: #FFF;
        @include ral;
        font-size: 13px;
        span {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

.paginainterna {
    h2 {
        @include bolder;
        font-size: 38px;
        margin-bottom: 11px;
    }
    p {
        font-size: 18px;
        line-height: 36px;
        color: #666666;
    }
}

.titulo_pagina {
    background-image: url(../images/radioterapia/bg_radio.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: #e87824;
    padding-top: 62px;
    padding-bottom: 52px;
    margin-bottom: 45px;
    h1 {
        @include bolder;
        font-size:48px;
        color: #FFF;
        line-height: auto;
        margin-bottom: 13px;
        text-align: center;
    }
    p {
        @include ral;
        font-size:14px;
        color: #FFF;
        line-height: 24px;
        padding-bottom: 24px;
        text-align: center;
        padding-right: 147px;
        padding-left: 147px;
        position:relative;
        &:after {
            content: '';
            width: 50px;
            height: 2px;
            background: #FFF;
            position: absolute;
            left: 50%;
            bottom: -3px;
            transform: translateX(-50%);
        }
    }
}

/** Custom Select **/
.custom-select2-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
    width: 100%;
  }
    .custom-select2-wrapper select {
      display: none;
    }
    .custom-select2 {
      position: relative;
      display: inline-block;
      width: 100%;
    }
      .custom-select2-trigger {
      position: relative;
      display: flex;
      width: 100%;
      height: 50px;
      font-size: 13px;
      padding-left: 26px;
      @include ral;
      font-weight: 500;
      color: #666666;
      line-height: 49px;
      background: #fff;
      border: 1px solid #999999;
      border-radius: 0;
      cursor: pointer;
  }
  
        .custom-select2-trigger:after {
      position: absolute;
      display: block;
      content: '';
      width: 10px;
      height: 10px;
      top: 50%;
      right: 12px;
      margin-top: -3px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #e87824;
      transition: all .4s ease-in-out;
     
        }
        .custom-select2.opened .custom-select2-trigger:after {
          margin-top: 3px;
          transform: rotate(-180deg) translateY(100%);
        }
    .custom-options {
      position: absolute;
      display: block;
      top: 100%;
      left: 0;
      right: 0;
      min-width: 100%;
      margin: 4px 0;
      border-radius: 4px;
      box-sizing: border-box;
      box-shadow: 0 2px 1px rgba(0,0,0,.07);
      background: #ffffff;
      transition: all .4s ease-in-out;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateY(-15px);
    }
    .custom-select2.opened .custom-options {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(0);
    }
      .custom-options:before {
        position: absolute;
        display: block;
        content: '';
        bottom: 100%; right: 25px;
        width: 7px; height: 7px;
        margin-bottom: -4px;
        border-top: 1px solid #b5b5b5;
        border-left: 1px solid #b5b5b5;
        background: #fff;
        transform: rotate(45deg);
        transition: all .4s ease-in-out;
      }
      .option-hover:before {
        background: #f9f9f9;
      }
      .custom-option {
      position: relative;
      display: block;
      padding: 0 22px;
      border-bottom: 1px solid #ba170038;
      font-size: 12px;
      font-weight: 600;
      color: #253434;
      line-height: 40px;
      cursor: pointer;
      transition: all .4s ease-in-out;
      }
      .custom-option:first-of-type {
        border-radius: 4px 4px 0 0;
      }
      .custom-option:last-of-type {
        border-bottom: 0;
        border-radius: 0 0 4px 4px;
      }
      .custom-option:hover,
      .custom-option.selection {
         background: #f9f7fa;
      }
/* Fim do Custom Select */

/* search topo */

.search-wrapper {
    position: relative;
    background: transparent;
    border-radius: 30px;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    width: 34px;
    height: 39px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 250ms ease;
}
.search-wrapper.focused {
    width: 240px;
    border-radius: 3px;
    background: #f97c0b;
}
.search-wrapper.focused .pesquisar {
    z-index: 10;
    background-position: -7px -52px;
}
.search-wrapper.focused input {
    padding: 0 28px 0 8px;
    width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.search-wrapper input {
    background: transparent;
    border: 0;
    color: #FFF;
    outline: none;
    height: 28px;
    width: 0;
    overflow: hidden;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-left: 21px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    transition: 275ms ease;
}
.search-wrapper input::placeholder {
    color:#FFF;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

/* start menu */

.hamburger {
    position: absolute;
    display:none;
    top: 7px;
    right: 6px;
    cursor: pointer;
    z-index: 99999999;
    padding: 10px 15px 5px;
  }
  .hamburger span {
  vertical-align: middle;
  }
  .hamburger .bars {
  display: block;
  position: relative;
  width: 30px;
  height: 6px;
  background: #062639;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .hamburger .bars:before, .hamburger .bars:after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 6px;
  background: #062639;
    border-radius: 3px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .hamburger .bars:before {
  top: 10px;
  }
  .hamburger .bars:after {
  bottom: 10px;
  }
  
  .open_menu .hamburger .bars {
    top: -68px;
  background-color: transparent;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .open_menu .hamburger .bars::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  }
  .open_menu .hamburger .bars::after {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  
  .mobile_menu {
  width: 290px;
  height: 100%;
  padding: 75px 20px 0;
  background: #e87824;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
  position: fixed;
  right: -100%;
  top: 0;
  opacity: 0;
  z-index: 999999;
  margin-top: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .mobile_menu ul li a {
    color: #ffffff;
    width: 100%;
    padding: 13px 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    transition: .5s;
    display: block;
    border-radius: 0;
    letter-spacing: 0.1em;
    margin-left: 0;
    border-bottom: 1px solid #fff;
  }
  .open_menu .hamburger {
    top: -13px;
  }
  .mobile_menu ul {
  padding: 0;
  list-style: none;
  text-align: left;
  }
  .mobile_menu li {
    width: 100%;
  }
  .sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  }
  .mobile_menu a:hover {
  color: white;
  }
  .open_menu .mobile_menu {
  right: 0;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .mobile_menu:hover {
  overflow-y: auto;
  }
  .mobile_menu .socialTopo {
    margin: 0;
    justify-content: flex-end;
    padding-top: 10px;
  }

  .slick-track {
      display: flex !important;
  }
  .slick-slide {
      height: inherit;
  }

  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -42px;
      li.slick-active {
        width: 14px;
        height: 14px;
        background-image: url(../images/assets/sprite.png);
        background-repeat: no-repeat;
        background-position: -193px -157px;
      }
      li {
        background-image: url(../images/assets/sprite.png);
        background-repeat: no-repeat;
        background-position: -180px -160px;
        width: 8px;
        height: 8px;
      }
      button {
        opacity: 0;
    }
  }

  .saiba_mais {
      &:hover {
          color: #FFF;
          background: #062639;
      }
  }
  .carousel .saiba_mais {
      &:hover {
        background: #2bbfd9;
      }
  }

  /* sticky header */
  .stickyhead 
  {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
    background: #FFF;
    z-index: 15;
    .topo_menor {
        display: none;
    }
    .open_menu .hamburger .bars {
        top: 22px;
    }
  }


  @media (min-width: 576px) {
    .modal-dialog {
        max-width: 719px;
        margin: 1.75rem auto;
    }
}

.modal-content {
    padding: 62px 72px;
    .form_area {
        flex-wrap: wrap;
    }
    .modal-body {
        padding: 0;
    }
    .modal-header {
        padding: 0;
        border: 0;
        h5 {
            @include bolder;
            font-size: 38px;
            line-height: auto;
            margin-bottom: 12px;
        }
    }
    input {
        width: 268px;
        position: relative;
        display: flex;
        align-items: center;
        height: 50px;
        font-size: 13px;
        padding-left: 26px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        color: #666666;
        line-height: 49px;
        background: #fff;
        border: 1px solid #999999;
        border-radius: 0;
        margin-bottom: 28px;
    }
    textarea {
        width: 100%;
        position: relative;
        display: flex;
        height: 111px;
        font-size: 13px;
        padding-left: 26px;
        padding-top: 15px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        color: #666666;
        line-height: 49px;
        background: #fff;
        border: 1px solid #999999;
        border-radius: 0;
    }
    .form_area button {
        height: 50px;
        background: #062639;
        color: #FFF;
        border: none;
        @include bolder;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        margin-top: 39px;
        width: 100%;
        &:hover {
            background: #e87824;
            color: #FFF;
        }
    }
}

.modal {
    background: #ffffff5e;
}

/* Carosel bolinhas */
.carousel-bullets{
    ul {
        position: absolute;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: left;
        bottom: 75px;
        padding-left: 26.3%;
        z-index: 9;
        li {
            background-image: url(../images/assets/sprite.png);
            background-repeat: no-repeat;
            background-position: -180px -160px;
            width: 8px;
            height: 8px;
            position: relative;
            display: inline-block;
            margin: 0 5px;
            padding: 0;
            cursor: pointer;
        }
        .active {
            width: 14px;
            height: 14px;
            background-image: url(../images/assets/sprite.png);
            background-repeat: no-repeat;
            background-position: -193px -157px;
        }
    }
}